/*///header///*/
.header{
	width: 1366px;
	height: 324px;
	background-image: url("72.jpg");
}
.container{
	display: flex;
	justify-content: space-between;
	padding-top: 30px;
	padding-left: 139px;
	width: 1189px;
	height: 20px;
}
.ul{
	display: flex;
}
.zetta{
	font-family: 'Poppins', sans-serif;
	color: #FFFFFF;
	font-size: 14px;
}
.nav-li{
	font-family: 'Poppins', sans-serif;
	color: #FFFFFF;
	margin-left: 48px;
	font-size: 12px;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;800&display=swap');
.about{
	padding-top: 146px;
	padding-left: 139px;
	font-size: 42px;
	color: #FFFFFF;
	font-family: 'poppins';
}
.ha{
	display: flex;
	font-family: 'Poppins', sans-serif;
	font-size:14px;
	color: #FFFFFF;
	padding-top: 14px;
	padding-left: 139px;
	padding-bottom: 85px;
}
.line{
	height: 14px;
	width: 1px;
	background: #FFFFFF;
	margin-left: 14.5px;
	margin-right: 14.5px;
}
/*end header*/
/*section1*/
.section1{
	height: 641px;
	width: 100%;
}
.box-wrapper{
	display: flex;
	justify-content: space-between;
}
.container2{
	margin-top: 90px;
	margin-left: 139px;
	width: 1088px;
	height: 461px;
}
.box1{
	margin-top: 35px;
	width: 444px;
	height: 388px;
}
.h3_1{
	font-family: 'Poppins', sans-serif;
	font-size: 12px;
	color: #5863F8;
}
.h3_2{
	font-family: 'Poppins', sans-serif;
	width: 374px;
	height: 115px;
	font-size: 42px;
	margin-bottom: 10px;
}
.par1{
	width: 444px;
	height: 78px;
	font-size: 16px;
	font-family: 'Poppins', sans-serif;
}
.readmore{
	margin-top: 35px;
	width: 184px;
	height: 50px;
	font-size:14px;
	background-color: #5863F8;
	padding-top: 15px;
	padding-left: 45px;
	color: #FFFFFF
}
.fa-arrow-right{
	color: red;
	font-size: 10px;
}
.box2{
	width: 536px;
	height: 461px;
}
.p1{
	margin-right: 12px;
	margin-bottom: 13px;
}
.p2{
	margin-bottom: 13px;
}
/*end section1/
/*start section2*/
.section2{
	width: 1366px;
	height: 612px;
	background: url(..//images/13.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.container3{
	padding-top: 92px;
	padding-left: 139px;
	width: 370px;
	height: 125px;
}
.h3_cont3_1{
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	color: #5863F8;
}
.h3_cont3_2{
	font-family: 'Poppins', sans-serif;
	width: 376px;
	height: 115px;
	font-size: 42px;
	color: #FFFFFF;
}
.container4{
	margin-left: 139px;
	margin-top: 150px;
	width: 1088px;
	height: 260px;
	display: flex;
	justify-content: space-between;
}
.box3{
	width: 260px;
	height: 260px;
	background: #FFFFFF;

}
.circle{
	margin-top: 27px;
	margin-left: 101px;
	height: 60px;
  width: 59px;
  background-color: #5863F8;
  border-radius: 50%;
  
}
.p001{
	padding-top: 13px;
	padding-left: 13px;
	/*transform: translate(-50%, -50%);*/
}
.h3_section4{
	margin-top: 15px;
	margin-left: 47px;
	width: 166px;
	height: 52px;
	font-stretch: 18px;
	color: #000000;
	text-align: center;
}
.p_section4{
	margin-top: 20px;
	margin-left: 20px;
	width: 221px;
	height: 62px;
	font-size: 14px;
	color: #B1B1B1;
	text-align: center;
}